<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let supplier of suppliers">
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.name }}</td>
                <td><a href="mailto:{{ supplier.email }}">{{ supplier.email }}</a></td>
                <td>
                    <button type="button" (click)="delete(supplier.id)">&times;</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
